<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="ravinduheshan99.TestComponents.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="StandAloneTestModified">
		<classes>
			<class name="ravinduheshan99.tests.StandAloneTestModified" />
		</classes>
	</test>

	<test thread-count="5" name="ErrorValidations">
		<classes>
			<class name="ravinduheshan99.tests.ErrorValidations" />
		</classes>
	</test>

</suite>
